body {

    background: linear-gradient(to top, rgba(205, 27, 26, 0.4), rgba(205, 27, 26, 0.7)), url('../resources/images/about_background.jpg') top center;
    background-size: 100% 100%;

}

#about-me {

    margin: 0.25rem;
    padding: 2rem;
    height: calc(100vh - 5rem);
    text-transform: capitalize;
    text-indent: 1rem;
    background-color: white;

}

p[class="first"]::first-letter {
    font-size: 2rem;
    color: red;
}

#about-image {

    margin: 0.25rem;
    min-width: 25rem;
    width: 25rem;

}

#about-image,
#about-me {

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.hashtag {

    color: red;
    padding: 0.25rem;
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(255, 0, 0, 0.15);
    margin: 0.5rem 0.25rem 0.25rem 0rem;
    border-radius: 5px;
}

.hashtag:hover {

    color:purple;
    background-color: rgba(128, 0, 128, 0.194);
    font-size: 1.05rem;
}


.hashtag-container {

    margin-top: 2rem;
    text-indent: 0.25rem;
}