body {
    background-image: url("../resources/background.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.body {
    justify-content: right;
    text-align: right;
}