body {
    background-image: url("../resources/images/background.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

#home-label{

    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-shadow: red 1px 0 10px;
    padding: 10rem;
    font-family: "Sofia", sans-serif;
    text-transform: capitalize;
    text-align: right;

   }

   .quotes-container{
    
    color:white;
    font-family: "Sofia", sans-serif;

   }